
*{
  margin: 0;
  padding: 0;
}
/* body{
  width: 100%;
 max-height: 100vh;

 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

} */
body{
  position: relative;
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

 
}
.App{
  display: flex;
  min-height: 200px;
  max-height: 200vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  

 margin: auto;

}

.balance{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

}
.balance img{
 
  width: 45px;
  height: 45px;
}

.balance span{
  color: white;
  font-size: 3em;
  font-weight: 800;
}
.coinTap{
  width: 100%;
 
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
 
}

.coinTap img{

  width: 100%;
  height: 100%;

  


}



.rember{
 width: 100%;
 padding: 0.3rem;
 display: flex;
 align-items: center;
 justify-content: right;
 
 
}
.numr{
  width: fit-content;
  background-color: rgba(50, 53, 56, 0.55);
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}
.rember .num{
  color: white;
  font-size: 1em;
  font-weight: 800;
}
.footer{
width: 80%;
margin: 0 auto;
padding: 0.3em 0.1em;
border-radius: 15px;
background-color: rgba(85, 84, 84, 0.53);
margin-bottom: 1rem;
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
bottom: 0;

}
.btn-container{
  width: 50xp;
  background-color: rgba(1, 160, 178, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 15px;
  gap: 0.2rem;
}
.btn-container h2{
  font-size: 0.8em;
  color: white;
}
.btn-container img{
  width: 24px;
  height: 24px;
}